// Navigation Styles here


header {
    
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 2px;

    @media @mobile {

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

nav {

    width: 100%;
    justify-content: space-evenly;
    word-spacing: 1.3rem;
    

}

.headertext {

    width: 30%;
justify-items: flex-start;

@media @mobile {

justify-items: center;

}

}

h1 {

width: 100%;

@media @mobile {

    text-align: center;
    font-size: 3rem;
    font-weight: bolder;

}

}

a {

    width: 100%;
    font-size: 1.9rem;
    color: @shark;
    text-decoration: none;
    justify-items: flex-end;
    word-spacing: 0%;
    
    @media @mobile {

        justify-items: center;
    }
}

header .text-content{

    margin: 2px;

}

.nav-text-content{

    border-bottom: 2px dashed @navigation-border;
    

}